.query {
    border: 1px solid #ccc;
    background-color: lightblue;
    /* width: 100%; */
    /* min-height: 100px; */
    /* height:auto; */
    height:fit-content;
    cursor: pointer;
    /* color: black; */
    margin: 10px;
    padding: 10px;
}

.response {
    border: 1px solid #ccc;
    background-color: lightyellow;
    height:fit-content;
    /* cursor: pointer; */
    color: black;
    margin: 10px;
    padding: 10px;
}